<div class="page-header page-header-with-icon">
  <i class="fa fa-suitcase"></i>

  <h2>
    My Goals
    <small>I should read more</small>
  </h2>

</div>

<div id="main-content">
  <div class="container">

      <div class="row portfolio-boxes">
        <h2 class="title">Goals</h2>
        <h3>My Progress:</h3>
        
      </div>

      <div class="row portfolio-boxes">
        <h2 class="title">Achivements</h2>
        <h3>Books I've Finished:</h3>
        <% @favorites.each do |favorite| %>
          <% if favorite.finished %>
            <div class="col-md-3 portfolio-box portfolio-item">
              <a href="/books/<%= favorite.book.id %>">
               <div class="image-link">
                <img src="<%= favorite.book.cover %>">
               </div>
                  <h4 class="title"><%= favorite.book.title %></h4>
                </a>
            </div>
          <% end %>
        <% end %>
      </div>



  </div>
</div>
